.row {
    margin-right: 0;
    margin-left: 0
}

.logo {
    margin: 1rem auto;
    max-width: 150px;
}

.smallHeading {
    width: 100%;
    display: block;
    text-align: center
}

table {
    width: 100%
}

table .arabic {
    text-align: right
}

.returnP_terms {
    font-size: 13px
}